@inherits Connect.DNN.Modules.Map.Common.MapWebPage
<h1>Hello DNN Connect</h1>

<div id="googleMap" style="width: @Settings.MapWidth; height: @Settings.MapHeight;"></div>

<div class="map_statusbar" id="mapStatus">
 <div>@Html.GetLocalizedString("Loading")</div>
 <div>Error Text ...</div>
</div>

<script type="text/javascript">
 (function ($, Sys) {
  $(document).ready(function () {

   var map = new google.maps.Map(document.getElementById("googleMap"), {
    center: new google.maps.LatLng(@Settings.MapOriginLat, @Settings.MapOriginLong),
    zoom: @Settings.Zoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    draggableCursor:@(Security.IsPointer ? "'crosshair'" : "'grabbing'")
    });

   connectMapService.getDataPoints(function(data) {
    $.each(data, function (index, item) {
     addPointToMap(map, item.Latitude, item.Longitude, item.Message, item.CreatedByUser, item.CreatedByUserID);
    });
   });

  });

  function addPointToMap(map, lat, lng, msg, usr, usrId) {
   var infowindow = new google.maps.InfoWindow({
    content: msg + '<br />' + usr
   });
   var marker = new google.maps.Marker({
    position: new google.maps.LatLng(lat, lng),
    map: map
   });
   google.maps.event.addListener(marker, 'click', function () {
    infowindow.open(map, marker);
   });
  }

 }(jQuery, window.Sys));
</script>