@inherits Connect.DNN.Modules.Map.Common.MapWebPage
<h1>Hello DNN Connect</h1>

<div id="googleMap" style="width: @Settings.MapWidth; height: @Settings.MapHeight;"></div>

@if (Security.CanEdit)
{
 <div>
  <a href="#" id="cmdSetMap" class="btn btn-default">@Html.GetLocalizedString("SetMap")</a>
 </div>
}

<div class="modal fade" id="mapPopup2" tabindex="-1" role="dialog" aria-labelledby="cmModalLabel" aria-hidden="true"></div>

<div class="modal fade" id="mapPopup">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.GetLocalizedString("AddPoint")</h4>
   </div>
   <div class="modal-body">
    <div class="panel-body form-horizontal">
     <div class="form-group">
      <label for="pointLatitude" class="col-sm-2 control-label">@Html.GetLocalizedString("Latitude")</label>
      <div class="col-sm-10">
       <input type="text" class="form-control" id="pointLatitude" readonly />
      </div>
     </div>
     <div class="form-group">
      <label for="pointLongitude" class="col-sm-2 control-label">@Html.GetLocalizedString("Longitude")</label>
      <div class="col-sm-10">
       <input type="text" class="form-control" id="pointLongitude" readonly />
      </div>
     </div>
    </div>
    <div class="panel-body">
     <div class="form-group">
      <label for="pointText" class="control-label">@Html.GetLocalizedString("Text")</label>
      <textarea id="pointText" class="form-control"></textarea>
     </div>
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GetLocalizedString("Cancel")</button>
    <button type="button" class="btn btn-primary" id="cmdSubmitMapPoint">@Html.GetLocalizedString("Submit")</button>
   </div>
  </div>
 </div>
</div>

<div class="map_statusbar" id="mapStatus">
 <div>@Html.GetLocalizedString("Loading")</div>
 <div>Error Text ...</div>
</div>

<script type="text/javascript">
 (function ($, Sys) {
  $(document).ready(function () {

   var map = new google.maps.Map(document.getElementById("googleMap"), {
    center: new google.maps.LatLng(@Settings.MapOriginLat, @Settings.MapOriginLong),
    zoom: @Settings.Zoom,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    draggableCursor:@(Security.IsPointer ? "'crosshair'" : "'grabbing'")
    });

   connectMapService.getDataPoints(function(data) {
    $.each(data, function (index, item) {
     addPointToMap(map, item.Latitude, item.Longitude, item.Message, item.CreatedByUser, item.CreatedByUserID);
    });
   });

   @if (Security.IsPointer)
   {
    <text>
   google.maps.event.addListener(map, 'click', function (e) {
    $('#pointLatitude').val(e.latLng.lat());
    $('#pointLongitude').val(e.latLng.lng());
    $('#mapPopup').modal();
   });

   $('#cmdSubmitMapPoint').click(function() {
    connectMapService.addPoint($('#pointLatitude').val(), $('#pointLongitude').val(), $('#pointText').val(), function(data) {
     addPointToMap(map, data.Latitude, data.Longitude, data.Message, data.CreatedByUser, data.CreatedByUserID);
     $('#pointText').val('');
     $('#mapPopup').modal('hide');
    });
   });
   </text>
   }

   @if (Security.CanEdit)
   {
    <text>
   $('#cmdSetMap').click(function() {
    connectMapService.setMap(map.getCenter().lat(), map.getCenter().lng(), map.getZoom(), function () {
     alert('Settings Saved');
    });
   });
   </text>
   }

  });

  function addPointToMap(map, lat, lng, msg, usr, usrId) {
   var infowindow = new google.maps.InfoWindow({
    content: msg + '<br /><a href="#" onclick="showUser(' + usrId + ');return false;">' + usr + '</a>'
   });
   var marker = new google.maps.Marker({
    position: new google.maps.LatLng(lat, lng),
    map: map
   });
   google.maps.event.addListener(marker, 'click', function () {
    infowindow.open(map, marker);
   });
  }

 }(jQuery, window.Sys));

 function showUser(userId) {
  connectMapService.showUser(userId, function(data) {
   $('#mapPopup2').html(data).modal();
  });
 }

</script>